

#section-1{
    // background-color: red;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    // top: 40%;
    padding: 14vh 7vw;
    box-sizing: border-box;

    >h1{
        font-size: 3.2rem;
        // background-color: yellow;
        width: 55%;
        height: 100%;
        font-weight: 500;
        line-height: 3.2rem;
        word-spacing: -0.3rem;
        >span{
            color: grey;
            font-weight:600;
        }
    }

    >div{
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        >div{
            // background-color: green;
            display: flex;
            margin-bottom: 1vh;
            // justify-content: space-evenly;
            align-items: center;
            >img{
                vertical-align: middle;
                width: 40px;
                height: 40px;
                margin-right: 0.7vw;
                // background-color: yellow;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
            }
            >div{
                >h2:nth-child(1){
                    font-weight: 600;
                    letter-spacing: 0rem;
                    word-spacing: 0.15rem;
                }
                >h2:nth-child(2){
                    color: blue;
                    font-weight: 400;
                    cursor: pointer;
                }
            }


        }
    }

}

@media screen and (max-width:700px){
    #section-1{
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        width: 100%;
        min-height: 100%;
        // background-color: royalblue;
        padding: 30px 30px;
        >h1{
            width: 100%;
            font-size: 2.5rem;
            // background-color: red;
            height: 100%;
        }

        >div{
            margin-top: 0;
            // background-color: yellow;
        }
    }
}