@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
// #showcase:nth-child(2)



#showcase{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: center;
    margin-left: 3%;

    >h2{
        font-size: 1.8rem;
        font-weight: 600;
        >span{
            color: gray;
        }
    }


    >#leftBtn{
        position: absolute;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        top: 50%;
        left: 0%;
        z-index: 99;
        opacity: 0;
        transition: all ease-in 0.2s;
        // transform: translate(-50%,-50%);
        >img{
            border-radius: 50%;
            mix-blend-mode:multiply;
            width: 50px;
            height: 50px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    >#inner-card-mini::-webkit-scrollbar{
        overflow-x: hidden;
    }

    >#rightBtn{
        position: absolute;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        top:50%;
        right: 4%;
        z-index: 99;
        opacity: 0;
        transition: all ease-in 0.2s;
        >img{
            border-radius: 50%;
            mix-blend-mode:multiply;
            width: 50px;
            height: 50px;
            object-fit: cover;
            cursor: pointer;
        }
    }

    >#inner-card-mini{
        display: flex;
        // background-color: green;
        overflow-x: scroll;
        padding: 30px 20px;
        gap: 30px;
        border-radius: 20px;
        scroll-behavior: smooth;
        padding-right: 70px;

        >img{
            min-width: calc(1347px/4);
            min-height: 250px;
            max-height: 261px;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
        >img:hover{
            scale: 1.05;
            transition: all ease-in 0.2s;
        }
    }
}

@media screen and (max-width:700px){

    #showcase{
        margin-left: 0%;
        padding: 10px 10px;
    }

    #inner-card-mini{
        >img{
            min-width: calc(1000px/3);
            min-height: 130px;
            max-height: 150px;
        }
    }

}